/*глобальные*/
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff; 
}

header {
    font-weight: 700;
    min-height: 56px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.map {
    width: 1200px;
    height: 593px;
    margin-left: auto;
    margin-right: auto;
}
    


nav {
    position: relative;
}

/*ссылки и кнопки*/
a {
    text-decoration: none;
    color: #000000;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -70px;
}

.list-navigation a {
    font-weight: 700;
    line-height: 24px;
    
    background-color: #ffffff;
}

.list-navigation a:hover,
.name-of-the-hotels:hover {
    color: #81b3d2;
}

.list-navigation a:focus,
.name-of-the-hotels:focus {
    color: rgba(0, 0, 0, 0.3);
}

.list-navigation a:active,
.name-of-the-hotels:active {
    color: #766357;
}

.list-navigation .current {
   color:#766357; 
}

.find-button {
    border: 0;
    width: 100%;
    min-height: 55px;
    cursor: pointer;
}

.button-to-popup,
.find-button {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.button-to-popup {
    display: block;
    background-color: #766357;
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.find-button,
.social a {
    background-color: #81b3d2; 
}

.social a {
    display: inline-block;
    width: 46px;
    height: 48px;
}

.book-button,
.more-information-button {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
}

.book-button {
    background-color: #766357;
}

.more-information-button {
    background-color: #81b3d2;
}

.social {
    text-align: center;
}

.twitter:active,
.fb:active,
.youtube:active {
    background-color: #5496bd;
}

.twitter:active svg,
.fb:active svg,
.youtube:active svg {
    opacity: 0.7 
}


.twitter svg {
    margin-top: 18px;
}


.fb svg {
    margin-top: 14px;
}

.youtube svg {
    margin-top: 17px;
}


.button-to-popup:hover,
.book-button:hover,
.button-to-popup:focus,
.book-button:focus {
    background-color: #604e43;
}

.button-to-popup:active,
.book-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.more-information-button:hover,
.find-button:hover,
.social a:hover,
.more-information-button:focus,
.find-button:focus,
.social a:focus {
    background-color: #669ec0;
}

.more-information-button:active,
.find-button:active,
.social a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.list-sort a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-bottom: dotted 1px #81b3d2;
    outline: none;
}
.list-sort a:hover,
.list-sort a:focus {
    display: inline-block;
    color: #81b3d2;
    background-color: #ffffff;
    border-bottom: dotted 1px #81b3d2;
}

.list-sort a:active {
    color: #000000;
    background-color: #ffffff;
}

.list-sort .current {
    color: #81b3d2;
    background-color: #ffffff;
    border: none;
}

.show-hotels-button {
    font: inherit;
    line-height: 21px;
    color: #ffffff;

    background: transparent;
}

.academy-logo svg {
    width: 115px;
    height: 41px;
    fill: #ffffff;
}

.academy-logo:hover path {
    fill: #81b3d2;
}

.academy-logo:focus path {
    fill: #81b3d2;
}

.academy-logo:active path {
    fill: #bdbbbc
}

.academy-logo:hover rect {
    fill: #81b3d2;
}

.academy-logo:focus rect {
    fill: #81b3d2;
}

.academy-logo:active rect {
    fill: #bdbbbc;
}

.calendar-1 svg,
.calendar-2 svg {
    fill: #a9a9a9;
}

.calendar-1:hover svg,
.calendar-2:hover svg {
    fill: #000000;
    outline: 0;
}

.calendar-1:focus svg,
.calendar-2:focus svg {
    fill: #81b3d2;
    outline: 0;
}

.smaller-men:hover,
.bigger-men:hover,
.smaller-children:hover,
.bigger-children:hover {
    background-color: #ebebeb;
}

/*списки*/
ul {
    margin: 0;
    padding: 0;
}

.list-navigation,
.list-benefits,
.list-sort,
.list-hotels {
    list-style: none;
    color: #000000;

    background-color: #ffffff;
}

/*параграфы*/
.preview {
    text-align: center;
    background-color: #e3f0f8;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-position: 0 -82px;
}

.preview img {
    margin-bottom: 76px;
}

.slogan {
    display: block;
    margin: 0;
    padding-left: 370px;
    padding-right: 370px;
    background-color: #ffffff;
    padding-bottom: 33px;
    padding-top: 61px;
}

.lead {
    background-color: #ffffff;
    padding-left: 355px;
    padding-right: 355px;
    margin: 0;
}

.form-search label {
    font-weight: 700;  
}

.slogan,
.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.intresting p {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 46px;
    background-color: #ffffff;
}

.intresting b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.academy-logo {
    font-size: 14px;
    line-height: 26px;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sortered {
    font-size: 12px;
    line-height: 18px;
}

/*формы*/
.form-search input {
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    outline: none;
    }

.form-search input:hover {
    background-color: #ebebeb;
}

.form-search input:focus {
    background-color: #ffffff;
    box-sizing: border-box;
    border: solid 2px #e5e5e5;
} 

/*Сетки*/
.main-container,
.hotels-container {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 1200px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
    margin-bottom: 0;
}

.list-navigation {
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    align-items: center;
}

.list-navigation li {
    padding: 0;
    margin: 0;
    width: 239px;
    text-align: left;
}

.list-navigation li:nth-child(3),
.list-navigation li:last-child {
    text-align: right;
}

.list-navigation li:last-child {
    margin-right: 71px;
}

.list-navigation li:nth-child(3) {
    margin-left: 87px;
}

.list-navigation li:first-child {
    margin-left: 71px;
}

.preview-content {
    position: relative;
    min-height: 215px;
    background-color: #ffffff;
}

footer {
    min-height: 120px;
    opacity: 0.9;
    display: flex;
    padding-left: 132px;
    padding-right: 100px;
    background-color: #ffffff;
    color: #000000;
    margin-top: -120px;
    position: relative;
}

.footer-hotels {
    min-height: 120px;
    display: flex;
    padding-left: 132px;
    padding-right: 100px;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

.hashtag {
    width: 136px;
    margin-top: 46px;
    margin-right: 257px;
}

.social {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 36px;
    margin-right: 228px;
}

.academy-logo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 45px;
    margin-right: 0;
}

.academy-logo a {
    margin-top: -5px;
}

.intresting {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column; 
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    padding-top: 49px;
    z-index: 0;
}

.intresting-question {
    margin-bottom: 25px;
    background-color: #ffffff;
}

.list-hotels {
    width: 1200px;
    min-height: 150px;    
}

.image-hotel {
    margin-right: 30px;
    width: 135px;
    height: 90px;
    padding-top: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 258px;
}

.info-spans {
    display: flex;
    margin-bottom: 17px;
}

.info-spans span {
    width: 117px;
    margin: 0;   
}

.type-price {
    margin-right: 76px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 5px;
}
.rating {
    display: flex;
    background-color: #f2f2f2;
    padding: 4px;
    padding-right: 13px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    width: 83px;
}

.hotels-buttons {
    display: flex;
    margin: 0;
}

.stars {
    text-align: right;
    margin: 0;
    margin-bottom: 43px;
}

.list-hotels li {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 26px;
    padding-left: 72px;
    padding-right: 73px;
    padding-bottom: 27px;
}

.list-hotels li:first-child {
    border-top: 1px solid #e1e1e1;
}

.more-information-button {
    width: 76px;
    margin-right: 6px;
    padding: 3px 17px 2px 17px;
}

.book-button {
    width: 108px;
    padding: 3px 17px 2px 17px;
}

.name-of-the-hotels h2{
    margin: 0;
    font-size: 21px;
    line-height: 26px;
}

.name-of-the-hotels {
    margin-bottom: 10px;
}

/*Попап сетка*/

.popup {
    position: absolute;
    left: 316px;
    top: 290px;
    display: flex;
    min-height: 395px;
    width: 568px;
    background-color: #ffffff;
    display: none;
    z-index: -1;
}

.popup-show {
    position: absolute;
    left: 316px;
    top: 290px;
    display: flex;
    min-height: 395px;
    width: 568px;
    background-color: #ffffff;
    animation-name: bounce;
    animation-duration: 1.2s;
    z-index: -1;
}

.popup-error {
    animation: shake 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(-395px);
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes shake {
  0%,
  100% {
      transform: translateX(0);
    }

  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translateX(-10px);
    }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.form-search {
    display: flex;
    margin: 55px;
    flex-direction: column;
}

.date-in,
.date-out {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.date-in label {
    margin-left: 2px;
    margin-top: 10px;
}

.date-out label {
    margin-left: 2px;
    margin-top: 10px;
}

.input-date-in input {
    width: 348px;
    height: 36px;
    padding-left: 16px;
    padding-right: 30px;
    position: relative;
}

.input-date-out input {
    width: 348px;
    height: 36px;
    padding-left: 16px;
    padding-right: 30px;
    position: relative;
}

.calendar-1 {
    display: block;
    position: absolute;
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 0;
    left: 474px;
    top: 54px;
    outline: 0;
    cursor: pointer;
}

.calendar-2 {
    display: block;
    position: absolute;
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 0;
    left: 474px;
    top: 121px;
    outline: 0;
    cursor: pointer;
}

.inputs-count-humans {
    display: flex;
    width: 458px;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 56px; 
}

.input-count-men,
.input-count-children {
    display: flex;
    justify-content: space-between;
    width: 114px;
}

.input-count-men input,
.input-count-children input {
    width: 38px;
    height: 38px;
    border: 0;
    text-align: center;
}

.smaller-men,
.bigger-men,
.smaller-children,
.bigger-children {
    width: 38px;
    height: 38px;
    border: 0;
    background-color: #f2f2f2;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #a9a9a9;
    cursor: pointer;
}

.smaller-men:hover,
.bigger-men:hover,
.smaller-children:hover,
.bigger-children:hover {
    color: #000000;
}

.smaller-men:focus,
.bigger-men:focus,
.smaller-children:focus,
.bigger-children:focus {
    color: #81b3d2;
}

.container-popup-humans {
    display: flex;
    width: 458px;
    justify-content: space-between;
}

.children {
    display: flex;
    align-items: center;
    width: 178px;
}

.men {
    display: flex;
    align-items: center;
     width: 141px;
}

.men label {
    margin-right: 41px;
}

.children label {
    margin-right: 26px;
}


/*сетки центрального раздела главной страницы*/

.first-reason,
.second-reason {
    color: #ffffff;
    background-color: #81b3d2;
    display: flex;
}

.first-reason div {
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    align-items: center;
    padding-left: 59px;
    padding-right: 59px;
}

.first-reason h2 {
    line-height: 21px;
    margin: 0;
    margin-bottom: 23px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}

.first-reason span {
    margin-bottom: 9px;
}

.first-reason p {
    line-height: 21px;
    text-align: center;
}

.second-reason div {
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
}

.second-reason h2 {
    line-height: 21px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.second-reason span {
    margin-bottom: 10px;
}

.second-reason p {
    line-height: 21px;
    text-align: center;
}

.list-benefits {
    display: flex;
}

.list-benefits li {
    display: flex;
    min-width: 400px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 80px;
}

.list-benefits li:first-child {
    background-image: url("../img/icon-1.svg");
    background-position: 163px 63px;
    background-repeat: no-repeat;
    padding-left: 72px;
    padding-right: 72px;
}

.list-benefits li:nth-child(2) {
    background-image: url("../img/icon-3.svg");
    background-position: 162px 63px;
    background-repeat: no-repeat;
    padding-left: 57px;
    padding-right: 57px;
}

.list-benefits li:last-child {
    background-image: url("../img/icon-2.svg");
    background-position: 168px 59px;
    background-repeat: no-repeat;
    padding-left: 63px;
    padding-right: 63px;
}

.list-benefits p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 21px;
}

.list-benefits h2 {
    line-height: 21px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
 
}

.reasons-without-imgs {
    display: flex;
    background-color: #eeeeee;
    justify-content: space-between;
    padding-bottom: 45px;
    z-index: 0;
}

.third-reason,
.fourth-reason,
.fifth-reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 47px;
}

.third-reason {
    width: 242px;
    padding-right: 95px;
    padding-left: 81px;
}

.third-reason h2 {
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 21px;
}

.third-reason span {
    margin-bottom: 25px;
}

.third-reason p {
    margin: 0;
    line-height: 21px;
    text-align: center;
}

.fourth-reason {
    width: 262px;
    padding-right: 69px;
    padding-left: 51px;
}

.fourth-reason h2 {
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 21px;
}

.fourth-reason span {
    margin-bottom: 25px;
}

.fourth-reason p {
    margin: 0;
    line-height: 21px;
    text-align: center;
}

.fifth-reason {
    width: 248px;
    padding-left: 77px;
    padding-right: 77px;
}

.fifth-reason h2 {
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 21px;
}

.fifth-reason span {
    margin-bottom: 25px;
}

.fifth-reason p {
    line-height: 21px;
    text-align: center;
    margin: 0;
}

/*сетки небазовых частей hotels*/

.form-choosing {
    background-color: #5496bd;
    background-image: url(../img/filter-background.jpg);
    background-position: 0 -295px;    
    display: flex;
    padding-top: 27px;
    padding-left: 70px;
    padding-right: 72px;
    min-height: 191px;
}

.infrastructure,
.types-hotels,
.hotels-cost {
    border: none;
    color: #ffffff;
}

.infrastructure {
    margin: 0;
    padding: 0;
    display: flex;
    width: 255px;
}

.types-hotels {
    padding: 0;
    display: flex;
    width: 255px;
}

.infrastructure legend,
.types-hotels legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 27px;
}

.hotels-cost legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 9px;
}

.min-cost {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    width: 90px;
    padding-left: 64px;
}

.max-cost {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    width: 90px;
    padding-left: 57px;
}

.hotels-cost input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 50px;
    font: inherit;
    margin-left: 5px;
}

.border-to-costs {
    height: 33px;
    display:flex;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 0;
    position: relative;
    width: 314px;
}

.border-to-costs::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    position: relative;
    margin-bottom: 32px;
}

.scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 33px;
}

.controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

.ring {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.ring-max {
    left: 80%;
}

.ring:hover {
    border: 9px solid #ffffff;
}

.hotels-cost {
    width: 300px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}

.border-to-costs div {
    display: flex;
    align-items: center;
    width: 157px;
}

.show-hotels-button {
font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
    display: flex;
    padding: 5px 34px;
    margin-left: 85px;
}

.hotels-cost p {
    margin: 0;
    margin-bottom: 38px;
}

.infrastructure p,
.types-hotels p     {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.found-section {
    display: flex;
    padding-left: 72px;
    padding-top: 30px;
    padding-right: 73px;
    margin-bottom: 28px;
}

.found {
    margin: 0;
    margin-right: 47px;
}

.sortered {
    display: flex;
    margin: 0;
    margin-right: 39px;
    font-size: 12px;
    padding-top: 5px;
}

.list-sort {
    display: flex;
    padding-top: 7px;
}

.list-sort li {
    margin-right: 33px;
    font-size: 12px;
}

.switch-buttons {
    display: flex;
    margin-left: auto;
    width: 36px;
    justify-content: space-between;
}

.up-button,
.down-button {
    border: none;
    padding: 0;
    width: 12px;
    background-color: transparent;
    outline: none;
}

.up-button polygon,
.down-button polyline {
    fill: #cacaca;
}

.up-button polygon:hover,
.down-button polyline:hover,
.up-button polygon:focus,
.down-button polyline:focus {
    fill: #000000;
}

.up-button polygon:active,
.down-button polyline:active {
    fill: #81b3d2;
}

.current polyline {
    fill: #81b3d2;
}

/*картиночки*/

.preview-content:before {
    position: absolute;
    content: "";
    margin: 0;
    background-image: url("../img/polygon.svg");
    margin-left: -600px;
    width: 1200px;
    height: 58px;
    margin-top: -57px;
}

/* чекбоксы*/

.infrastructure label,
.types-hotels label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.infrastructure:disabled input,
.types-hotels:disabled input {
/*    color: #6a6a6a; */
}

.infrastructure input[type="checkbox"] + .checkbox-indicator,
.types-hotels input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.infrastructure input[type="checkbox"]:checked + .checkbox-indicator,
.types-hotels input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
}
  