/*глобальные*/
body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff; 
}

header {
    font-weight: 700;
}

footer {
    background-color: #ffffff;
    color: #000000;
}

/*ссылки и кнопки*/
a {
    text-decoration: none;
    color: #000000;
}

.list-navigation a {
    font-weight: 700;
    line-height: 24px;
    
    background-color: #ffffff;
}

.list-navigation a:hover,
.name-of-the-hotels:hover {
    color: #81b3d2;
}

.list-navigation a:focus,
.name-of-the-hotels:focus {
    color: rgba(0, 0, 0, 0.3);
}

.list-navigation a:active,
.name-of-the-hotels:active {
    color: #766357;
}

.button-to-popup,
.find-button {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.button-to-popup {
    background-color: #766357;
}

.find-button,
.social a {
    background-color: #81b3d2; 
}

.book-button,
.more-information-button {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
}

.book-button {
    background-color: #766357;
}

.more-information-button {
    background-color: #81b3d2;
}

.social {
    text-align: center;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.fb {
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-to-popup:hover,
.book-button:hover {
    background-color: #604e43;
}

.button-to-popup:focus,
.book-button:focus {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.more-information-button:hover,
.find-button:hover,
.social a:hover {
    background-color: #669ec0;
}

.more-information-button:focus,
.find-button:focus,
.social a:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.list-sort a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-bottom: dotted 1px #81b3d2;
}
.list-sort a:hover {
    display: inline-block;
    color: #81b3d2;
    background-color: #ffffff;
    border-bottom: dotted 1px #81b3d2;
}

.list-sort a:focus {
    color: #000000;
    background-color: #ffffff;
}

.list-sort .current {
    color: #81b3d2;
    background-color: #ffffff;
    border: none;
}

.show-hotels-button {
    font: inherit;
    line-height: 21px;
    color: #ffffff;

    background: transparent;
}

/*списки*/
.list-navigation,
.list-benefits,
.list-sort,
.list-hotels {
    list-style: none;
    color: #000000;

    background-color: #ffffff;
}



/*параграфы*/
.preview {
    text-align: center;
    background-color: #e3f0f8;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.preview-content {
    background-color: #ffffff;
}

.form-search label {
    font-weight: 700;  
}

.slogan,
.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.intresting {
    text-align: center;
    background-color: #ffffff;
}

.intresting p {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.intresting b {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.academy-logo {
    font-size: 14px;
    line-height: 26px;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sortered {
    font-size: 12px;
    line-height: 18px;
}

/*формы*/
.form-search input {
    background-color: #f2f2f2;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    outline: none;
    border: 2px solid transparent;
    }

.form-search input:hover {
    background-color: #ebebeb;
    border: 2px solid transparent;
}

.form-search input:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
} 

